@charset "utf-8";

/* .container{
    min-width: 280px;
} */

.ms-container{
    --position-gap:1px;
    --board-width:clamp(100px, 70vmin, 600px);
    /* --board-width:300px; */
    --grid-max-wh:3;
    --grid-number-columns:3;
    --grid-number-rows:3;
    --grid-item-box-width:calc( var(--board-width) / var(--grid-max-wh));
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
@media all and (max-width:500px) {
	.ms-container{
        --board-width:clamp(100px, calc(100vmin - 40px), 500px);
    }
}

.ms-input-group{
    flex-wrap: nowrap;
    width:100px;
}
.ms-input-group .form-control{
    text-align: center;
}



.ms-board{
    /* width: var(--board-width); */
    /* height: var(--board-width); */
    line-height: 1em;
    font-size: calc(var(--grid-item-box-width) * 0.5 );
    margin: 0 auto;
    display: inline-grid;
    grid-template-columns: repeat(var(--grid-number-columns), 1fr);
    grid-template-rows: repeat(var(--grid-number-rows), 1fr);
    /* gap:5px; */
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    align-content: center;
}
.ms-item{
    width:var(--grid-item-box-width);
    height:var(--grid-item-box-width);
    pointer-events: all;
    cursor: pointer;
    padding: 1px;
    position: relative;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ms-item::before{
    pointer-events: none;
    /* background-color: #abc; */
    border: 2px solid #999;
    /* width:var(--grid-item-box-width);height:var(--grid-item-box-width); */
    /* width:100%;height: 100%; */
    border-radius: 20%;
    transition: background-color 0.2s linear;
    
    position: absolute;
    top: var(--position-gap);
    left: var(--position-gap);
    right: var(--position-gap);
    bottom: var(--position-gap);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    color:#999;

    content: " ";
}


.ms-item[data-cover="0"]::before{--cover-color: #000;}
.ms-item[data-cover="1"]::before{--cover-color: #0099FF;}
.ms-item[data-cover="2"]::before{--cover-color: #12AF30;}
.ms-item[data-cover="3"]::before{--cover-color: red;}
.ms-item[data-cover="4"]::before{--cover-color: #1020FF;}
.ms-item[data-cover="5"]::before{--cover-color: #801900;}
.ms-item[data-cover="6"]::before{--cover-color: #009E5F;}
.ms-item[data-cover="7"]::before{--cover-color: #C500A0;}
.ms-item[data-cover="8"]::before{--cover-color: #FF8900;}

/* .ms-container[data-endding="0"] */

.ms-item[data-dig="0"]::before{
    border: 0px dashed #94afab;
    background-color: #94afab;
    color:#fff;
    content: "?";
}
.ms-item[data-flag="1"]::before{
    content: "🚩";
}
.ms-item[data-flag="2"]::before{
    content: "🏁";
}
.ms-item[data-dig="1"]::before,
.ms-container[data-endding="1"] .ms-item::before,
.ms-container[data-endding="2"] .ms-item::before {
    border: 1px dashed #abc;
    background-color: #fff;
    color: var(--cover-color);
    content: attr(data-cover);
}
.ms-container[data-endding="1"] .ms-item[data-dig="0"]::before,
.ms-container[data-endding="2"] .ms-item[data-dig="0"]::before{
    background-color: #eee;

}


.ms-item[data-dig="1"][data-cover="0"]::before,
.ms-container[data-endding="1"] .ms-item[data-cover="0"]::before,
.ms-container[data-endding="2"] .ms-item[data-cover="0"]::before {
    content: " ";
}

/**
ENDDING
*/
.ms-container[data-endding="1"] .ms-item[data-mine="1"]{
    z-index: 20;
}
.ms-container[data-endding="1"] .ms-item[data-mine="1"]::before{
    border: 0px dashed rgb(255, 255, 255);
    background-color: transparent;
    content: "🌼" !important;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-name: ani-endding-frower;
    animation-iteration-count: infinite;
}
/* default mine */
.ms-container[data-endding="2"] .ms-item[data-mine="1"]::before{
    border: 1px dashed rgb(202, 104, 38);
    background-color: rgb(255, 212, 176);
    content: "💣" !important;

}
.ms-container[data-endding="2"] .ms-item[data-dig="0"][data-mine="1"]::before{
    animation-duration: 1s;
    animation-name: ani-endding-bomb;
    animation-iteration-count: infinite;
}
/* flaged mine */
.ms-container[data-endding="2"] .ms-item[data-flag="1"][data-mine="1"],
.ms-container[data-endding="2"] .ms-item[data-flag="21"][data-mine="1"]{
    z-index: 10;
}
.ms-container[data-endding="2"] .ms-item[data-flag="1"][data-mine="1"]::before ,
.ms-container[data-endding="2"] .ms-item[data-flag="2"][data-mine="1"]::before{
    border: 1px dashed rgb(202, 104, 38);
    background-color: rgb(213, 250, 195);
    /* content: "🏳️" !important; */
    /* content: "💤" !important; */
    content: "💣" !important;
    /* animation-name:none; */

    animation-duration: 1s;
    animation-name: ani-endding-bomb;
    animation-iteration-count: infinite;
}
/* Boom mine */
.ms-container[data-endding="2"] .ms-item[data-dig="2"][data-mine="1"]{
    z-index: 30;
}
.ms-container[data-endding="2"] .ms-item[data-dig="2"][data-mine="1"]::before{
    border: 1px dashed rgb(202, 38, 65);
    background-color: rgb(255, 176, 176);
    content: "💥" !important;

    animation-delay:0s;
    animation-duration: 1s;
    animation-name: ani-endding-boom;
    animation-iteration-count: infinite;
}



/* data-start=on*/

/* .ms-container[data-start="off"] .ms-board{
    filter: blur(10px) opacity(0.3);
}
.ms-container[data-start="on"] .ms-board{
    transition: filter 0.5s linear;
    filter: blur(m) opacity(1);
} */

.ms-container[data-start="off"] .ms-item{
    filter: blur(2px) opacity(0.1);
}
.ms-container[data-start="on"] .ms-item{
    filter: blur(0) opacity(1);
    transition: filter 1s  steps(6, end);;
}
.ms-container[data-start="on"] .ms-item[data-delay="0"]{ transition-delay:0s;}
.ms-container[data-start="on"] .ms-item[data-delay="1"]{ transition-delay:0.1s;}
.ms-container[data-start="on"] .ms-item[data-delay="2"]{ transition-delay:0.2s;}
.ms-container[data-start="on"] .ms-item[data-delay="3"]{ transition-delay:0.3s;}
.ms-container[data-start="on"] .ms-item[data-delay="4"]{ transition-delay:0.4s;}
.ms-container[data-start="on"] .ms-item[data-delay="5"]{ transition-delay:0.5s;}
.ms-container[data-start="on"] .ms-item[data-delay="6"]{ transition-delay:0.6s;}
.ms-container[data-start="on"] .ms-item[data-delay="7"]{ transition-delay:0.7s;}
.ms-container[data-start="on"] .ms-item[data-delay="8"]{ transition-delay:0.8s;}
.ms-container[data-start="on"] .ms-item[data-delay="9"]{ transition-delay:0.9s;}


/* delay */
.ms-item[data-delay="0"]::before{ animation-delay:0s;}
.ms-item[data-delay="1"]::before{ animation-delay:0.1s;}
.ms-item[data-delay="2"]::before{ animation-delay:0.2s;}
.ms-item[data-delay="3"]::before{ animation-delay:0.3s;}
.ms-item[data-delay="4"]::before{ animation-delay:0.4s;}
.ms-item[data-delay="5"]::before{ animation-delay:0.5s;}
.ms-item[data-delay="6"]::before{ animation-delay:0.6s;}
.ms-item[data-delay="7"]::before{ animation-delay:0.7s;}
.ms-item[data-delay="8"]::before{ animation-delay:0.8s;}
.ms-item[data-delay="9"]::before{ animation-delay:0.9s;}



@keyframes ani-endding-boom {
    from {transform: scale(1);}
    20%{transform: scale(0.5);}
    50%{transform: scale(1.5);}
    70%{transform: scale(0.5);}
    to {transform: scale(1);}
}
@keyframes ani-endding-bomb {
    from {transform:translateY(0px)}    
    50%{transform:translateY(-10px)}
    to {transform:translateY(0px)}
}

@keyframes ani-endding-frower {
    from {transform:rotate(0deg)}
    25%{transform:rotate(-30deg)}
    50%{transform:rotate(0)}
    75%{transform:rotate(30deg)}
    to {transform:rotate(0)}
}


.ms-container[data-cheat='on'] .ms-item[data-mine="1"]::before{
    outline: 2px solid red;
    outline-offset: -2px;
}

.ms-status span.label::after{
    content: ' : ';
}